<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Required for Foreground Location -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to track your route while using the app.</string>

	<!-- Required for Background Location -->
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location in the background to record your route when the screen is locked.</string>
	
	<!-- Required for Background Updates Mode -->
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>